<footer>
  <nav>
    <ul>
      <li><img src="static/images/profiel.png" alt=""></li>
      <li><img src="static/images/liken.png" alt=""></li>
      <li><img src="static/images/chat.png" alt=""></li>
    </ul>
  </nav>
</footer>

<script src="/static/js/script.js"></script>
