<article class="formulier">
      <form id="dislike" method="POST" action="/">
     <input name="liked" value="false" type="hidden">
     <button type="submit"><img src="static/images/kruis.png" alt=""></button>
 </form>

  <form id="like" method="POST" action="/">
     <input name="liked" value="true" type="hidden">
     <button type="submit"><img src="static/images/hart.png" alt=""></button>
 </form>
</article>