<article class="formulier">
    <form id="dislike" method="POST" action="/dislike">
        <input name="liked" type="hidden" value="false">
        <input name="id" type="hidden" value="<%= userID %>">
        <button id="like-button" type="submit"><img src="static/images/kruis.png" alt=""></button>
      </form>
      <form id="like" method="POST" action= "/like">
        <input name="liked" type="hidden" value="true">
        <input name="id" type="hidden" value="<%= userID %>">
        <button id="dislike-button" type="submit"><img src="static/images/hart.png" alt=""></button>
      </form>
</article>

<!-- <article class="formulier">
     <form id="dislike" method="POST" action="/">
     <input name="liked" value="false" type="hidden">
     <button type="submit"><img src="static/images/kruis.png" alt=""></button>
 </form>

  <form id="like" method="POST" action="/">
     <input name="liked" value="true" type="hidden">
     <button type="submit"><img src="static/images/hart.png" alt=""></button>
 </form>
</article> -->