
 {{> header }} 
<section>
    <article>
        <h1>Joep</h1>
        <img class="fotohond" src="static/images/joep.jpeg" alt="">
        <p>Hi ik ben joep en ik zoek een nieuw baasje.</p>
    </article>  
    {{> form }}    
    <article class="tweede">
        <h2>Informatie</h2>
        <ul class="info">
          <li>Leeftijd: 9 maanden</li>
          <li>Ras: labradoodle</li>
          <li>Geslacht: Reu</li>
          <li>Prijs: €800</li>
        </ul>   
    </article>
    <article>
        <h2>Beschrijving</h2>
        <p>Heel lief reutje, wandelen doet hij heel graag daar geniet hij van dus heel graag wat actieve mensen die heerlijk met haar gaan wandelen.</p>
    </article>
</section>

{{> footer }}