{{> header }}
    <h2>Maak een account aan</h2>
    <form action="">
        <input type="text"name = "username" placeholder = "Username">
        <input id="email-input" type="email" placeholder="Email" required>
        <input type="text"name = "Woonplaats" placeholder = "Woonplaats">
        <input type="number"name = "Leeftijd" placeholder = "Leeftijd">
        <input type="file" name="" id="">
        <textarea name="" id="" placeholder="schrijf hier" cols="30" rows="10"></textarea>
        <button type="submit"></button>

    </form>
