<%- include('layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<section class="matches">
    <h1>Dit zijn jouw matches</h1>

<ul class="lijst">
        <li id="match1">
            <img class="fotohond" src="static/images/joep.jpeg" alt="">
            <h2>Joep</h2>
            <p>Wanneer u een lieve, gezellige, vrolijke, trouwe en zeer aaibare vriend zoekt, die graag bij u in de buurt is en er grappig uitziet, moet u zeker denken aan een Australian Labradoodle.</p>
            <button id="verwijder">Verwijderen</button>       
        </li>   
        <li id="match2">
            <img class="fotohond" src="static/images/boomer.jpg" alt="">
            <h2>Lizzy</h2>
            <p>De Teckel, een bikkel in zakformaat. Wie denkt dat kleine honden minder opvoeding nodig hebben, zit er volledig naast met de aanschaf van een Teckel.</p>
            <button id="verwijder2">Verwijderen</button>       
        </li>  
        <li id="match3">
            <img class="fotohond" src="static/images/poedel.jpg" alt="">
            <h2>Claartje</h2>
            <p>Algemeen beeld Raskenmerken De poedel is een atletisch gebouwde hond met een soepel bewegingsapparaat en heeft een gedurende het hele leven doorgroeiende vacht.</p>
            <button id="verwijder3">Verwijderen</button>       
        </li>  
</ul>
</section>



<script src="/static/js/script.js"></script>