{{> header }}
<section>
        <h1>Dit zijn jou matches</h1>

<article class="matches">
    <img src="static/images/joep.jpeg" alt="">
    <h2 class="naam">name</h2>
    <p class="beschrijving">hxsbxhvsxh</p>
    <button>Verwijder match</button>
    <button>Chatten</button>
</article>
