
    <h1 class="witteh1">Het is een match!</h1>
    <p class="ondertekst">Zara + Joep</p>
    <article class="match">
        <img class="matchfoto" src="static/images/joep.jpeg" alt="">
        <h2>Joep</h2>
    </article>
    <article class="match2">
        <img class="matchfoto" src="static/images/joep.jpeg" alt="">
        <h2>Joep</h2>
    </article>
    <button class="ga">Ga naar match</button>    
