<%- include('layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<section>
    <h1>Je hebt nog geen matches</h1>
    <p>Ga snel terug naar de like pagina om matches te krijgen!</p>
    <a href="/">Liken</a>
</section>