<%- include('layouts/main.ejs'); %>
<%- include('partials/header.ejs'); %>

<section>
    <h1>Er zijn voor nu helaas geen honden meer om te liken.</h1>
    <p>Pas uw wensen aan of wacht tot er weer nieuwe hondjes zich aanmelden!</p>
    <a href="/matches">Bekijk matches</a>
</section>