body{
    display: flex;
    justify-content: center;
    flex-direction: column;   
    margin: 0;
    padding: 0;
    background-color: #334E58;
    color: #334E58;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 375px;
}

/* fonts */
h1 {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    margin: 0;
}

/* header */
header {
    display: flex;
    align-items: baseline;
    background-color: #334E58;
    height: 4em;   
}

header img {
    width: 9em;
    height: auto;
    margin-top: 1em;
    margin-left: 8em;
}

.hartje {
    position: absolute;
    width: 2em;
    margin-left: 3em;
}

/* profielen */
section {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #EEEEFF;
    margin: 1em;
    margin-top: 53em;
    padding: 1em;
    padding-top: .5em;
    border-radius: 1em;
}

.fotohond {
    width: 100%;
    height: 18em;
    margin-top: .5em;
    border-radius: 1em;
    background-size: cover;
}

.bio {
    margin-top: -6em;
    margin-left: 1.5em;
    background-color: #EEEEFF;
    opacity: .6;
    padding: .5em;
    padding-left: 1em;
    width: 15em;
    border-radius: .5em;
}

.tweede {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.derde {
    margin-bottom: 5em;
}

.info {
    list-style-type: none;
    padding: 0;
    margin-top: .3em;
}

/* formulier */
form {
    position: relative;
    width: 5em;
    margin-top: -1.5em;
}

.formulier {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulier img {
    width: 3em;
}

button {
    width: 5em;
    height: 5em;
    background-color: #EEEEFF;
    border-radius: 5em;
    margin: .5em;
}

#dislike button {
    border: solid 0.4em #DB2738;
}

#like button {
    border: solid 0.4em #68A691;
}

/* matchpagina */
.matchpagina {
    position: relative;
    width: 83vw;
    margin-top: 0;
}

#match1 {
    border: 0.1em solid #334E58;
    border-radius: 1em;
    padding: .5em;
    width: 95%;
    height: 6em;
    margin-top: 1em;
}


.witteh1 {
    color: white;
    margin-top: 2em;
}

.ondertekst {
    color: #DB2738;
    text-align: center;
}

.match {
    width: 8em;
    background-color: #429EA6;
    border-radius: 1em;
    padding: 0.8em;
    transform: rotate(-10deg);
    margin-top: 5em;
    margin-left: 4em;
}

.matchfoto {
    width: 100%;
    height: auto;
}

.match2 {
    position: relative;
    width: 8em;
    background-color: white;
    border-radius: 1em;
    padding: 0.8em;
    margin-left: 10em;
    top: -5em;
    transform: rotate(10deg);
}

.matchsection {
    margin-top: 3em;
}

.ga {
    background-color: #DB2738;
    color: white;
    width: 8em;
    height: auto;
    padding: .5em;
    font-size: 1.4em;
    border-radius: .5em;
    border: none;
    align-self: center;
}

/* matches */
#match1 img {
    width: 6em;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

#match1 h2 {
    position: relative;
    margin-left: 5.5em;
    margin-top: -5.2em;
}

#match1 p {
    position: relative;
    margin-left: 8.5em;
    margin-top: -.1em;
    font-size: 0.8em;
}

#match1 button {
    width: 10em;
    height: 2em;
    border-radius: .5em;
    border: none;
    background-color: red;
    color: white;
    font-size: .6em;
    margin: 0;
    margin-left: 20em;
    margin-top: -2em;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    width: 375px;
    height: 4em;
    background-color: #429EA6;
    z-index: 100;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    color: white;
}

footer li:nth-of-type(2) {
    background-color: #334E58;
    border: solid 0.2em white;
    border-radius: 3em;
    padding: 1em;
    margin-top: -2em;
}

footer img {
    width: 2em;
}
